@font-face {
  font-family: 'Montserrat';
  src: url('./fonts/Montserrat-Black.eot');
  src: local('☺'), url('./fonts/Montserrat-Black.woff') format('woff'),
    url('./fonts/Montserrat-Black.ttf') format('truetype'),
    url('./fonts/Montserrat-Black.svg') format('svg');
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: 'Montserrat';
  src: url('./fonts/Montserrat-Bold.eot');
  src: local('☺'), url('./fonts/Montserrat-Bold.woff') format('woff'),
    url('./fonts/Montserrat-Bold.ttf') format('truetype'),
    url('./fonts/Montserrat-Bold.svg') format('svg');
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'Montserrat';
  src: url('./fonts/Montserrat-Regular.eot');
  src: local('☺'), url('./fonts/Montserrat-Regular.woff') format('woff'),
    url('./fonts/Montserrat-Regular.ttf') format('truetype'),
    url('./fonts/Montserrat-Regular.svg') format('svg');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Montserrat';
  src: url('./fonts/Montserrat-Light.eot');
  src: local('☺'), url('./fonts/Montserrat-Light.woff') format('woff'),
    url('./fonts/Montserrat-Light.ttf') format('truetype'),
    url('./fonts/Montserrat-Light.svg') format('svg');
  font-weight: 300;
  font-style: normal;
} /*! normalize.css v3.0.2 | MIT License | git.io/normalize */
html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
body {
  margin: 0;
  user-select: none;
}
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}
img {
  border: 0;
}

::-moz-selection {
  background: #fff498;
}
::selection {
  background: #fff498;
}
::-moz-selection {
  background: #fff498;
}
img::-moz-selection {
  background: transparent;
}
img::selection {
  background: transparent;
}
img::-moz-selection {
  background: transparent;
}
body {
  -webkit-tap-highlight-color: #fff498;
}
body {
  background-color: #0c0c0c;
  font-size: 14px;
  line-height: 1.6;
  font-family: 'Montserrat', sans-serif;
  color: #fff;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
}

.home-container {
  button {
    display: inline-block;
    text-decoration: none;
    text-transform: uppercase;
    color: #717171;
    font-weight: 500;
    background: #fff;
    border-radius: 3.125rem;
    transition: 0.3s ease-in-out;
    border: 2px solid #c2c2c2;
    padding: 0.625rem 1.875rem;

    &:hover {
      border-color: #dff9fb;
      color: #00eeff;
    }
  }

  .header {
    position: fixed;
    top: 0;
    left: 0;

    width: 100%;
    height: 70px;
    padding: 0 36px;
    z-index: 999999999;
    box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.85);

    .header-container {
      width: 100%;
      max-width: 90%;
      margin: 0 auto;
      height: 100%;

      display: flex;
      align-items: center;
      gap: 32px;

      position: relative;

      .logo {
        font-size: 36px;
        color: #ffffff;
        font-weight: bold;

        span {
          display: inline-block;
          font-style: normal;
          color: #00eeff;
          font-size: 18px;

          &.stroke {
            font-size: 36px;
            transform: scale(1);
            color: transparent;
            -webkit-text-stroke: 1.6px #00eeff;

            &.rotate {
              transform: rotate(180deg) translateY(-16px);
            }
          }
        }
      }

      .header-sidebar {
        display: flex;
        align-items: center;

        .sidebar-item {
          font-size: 16px;
          font-weight: 600;
          color: #ffffff;
          transition: 0.3s;

          &:hover {
            cursor: pointer;
            color: #00eeff;
          }
        }
      }

      .btnWallet {
        height: 40px;
        padding: 0 24px;
        background: #f0f0f0;
        border-radius: 12px;

        font-weight: 700;
        font-size: 16px;
        color: #000000;

        border: none;
        outline: none;

        right: 0;
        top: 50%;
        position: absolute;
        transform: translateY(-50%);
      }
    }
  }

  .modal-alert {
    position: fixed;
    inset: 0;
    display: flex;
    align-items: center;
    justify-content: center;

    z-index: 100;

    transform: translateY(-100%);

    &::after {
      content: '';
      position: fixed;
      inset: 0;
      background-color: rgba(#000000, 0.5);
      z-index: -1;
    }

    .contentWrapper {
      position: relative;
      transition: 0.3s;
      transform: translateY(-100%);

      // display: flex;
      // align-items: center;
      // justify-content: center;

      .alert-message {
        width: 400px;
        height: 160px;

        display: flex;
        flex-direction: column;

        align-items: center;
        justify-content: center;

        border-radius: 8px;
        background: #ffffff;
        box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.15);

        p {
          font-size: 24px;
          font-weight: 400;
        }

        button {
          margin-top: 16px;
        }
      }
    }

    &.open {
      transform: translateY(0);

      .contentWrapper {
        transform: translateY(0);
      }
    }
  }
}
