@keyframes rightToLeftXWhite {
  0% {
    background: linear-gradient(0deg, #ffffff 0%, transparent 0%);
  }

  5% {
    background: linear-gradient(0deg, #ffffff 5%, transparent 5%);
  }

  10% {
    background: linear-gradient(0deg, #ffffff 10%, transparent 10%);
  }

  15% {
    background: linear-gradient(0deg, #ffffff 15%, transparent 15%);
  }

  20% {
    background: linear-gradient(0deg, #ffffff 20%, transparent 20%);
  }

  25% {
    background: linear-gradient(0deg, #ffffff 25%, transparent 25%);
  }

  30% {
    background: linear-gradient(0deg, #ffffff 30%, transparent 30%);
  }

  35% {
    background: linear-gradient(0deg, #ffffff 35%, transparent 35%);
  }

  40% {
    background: linear-gradient(0deg, #ffffff 40%, transparent 40%);
  }

  45% {
    background: linear-gradient(0deg, #ffffff 45%, transparent 45%);
  }

  50% {
    background: linear-gradient(0deg, #ffffff 50%, transparent 50%);
  }

  55% {
    background: linear-gradient(0deg, #ffffff 55%, transparent 55%);
  }

  60% {
    background: linear-gradient(0deg, #ffffff 60%, transparent 60%);
  }

  65% {
    background: linear-gradient(0deg, #ffffff 65%, transparent 65%);
  }

  70% {
    background: linear-gradient(0deg, #ffffff 70%, transparent 70%);
  }

  75% {
    background: linear-gradient(0deg, #ffffff 75%, transparent 75%);
  }

  80% {
    background: linear-gradient(0deg, #ffffff 80%, transparent 80%);
  }

  85% {
    background: linear-gradient(0deg, #ffffff 85%, transparent 85%);
  }

  90% {
    background: linear-gradient(0deg, #ffffff 90%, transparent 90%);
  }

  95% {
    background: linear-gradient(0deg, #ffffff 95%, transparent 95%);
  }

  100% {
    background: linear-gradient(0deg, #ffffff 100%, transparent 100%);
  }
}

@keyframes leftToRightXWhite {
  0% {
    background: linear-gradient(180deg, #ffffff 0%, transparent 0%);
  }

  5% {
    background: linear-gradient(180deg, #ffffff 5%, transparent 5%);
  }

  10% {
    background: linear-gradient(180deg, #ffffff 10%, transparent 10%);
  }

  15% {
    background: linear-gradient(180deg, #ffffff 15%, transparent 15%);
  }

  20% {
    background: linear-gradient(180deg, #ffffff 20%, transparent 20%);
  }

  25% {
    background: linear-gradient(180deg, #ffffff 25%, transparent 25%);
  }

  30% {
    background: linear-gradient(180deg, #ffffff 30%, transparent 30%);
  }

  35% {
    background: linear-gradient(180deg, #ffffff 35%, transparent 35%);
  }

  40% {
    background: linear-gradient(180deg, #ffffff 40%, transparent 40%);
  }

  45% {
    background: linear-gradient(180deg, #ffffff 45%, transparent 45%);
  }

  50% {
    background: linear-gradient(180deg, #ffffff 50%, transparent 50%);
  }

  55% {
    background: linear-gradient(180deg, #ffffff 55%, transparent 55%);
  }

  60% {
    background: linear-gradient(180deg, #ffffff 60%, transparent 60%);
  }

  65% {
    background: linear-gradient(180deg, #ffffff 65%, transparent 65%);
  }

  70% {
    background: linear-gradient(180deg, #ffffff 70%, transparent 70%);
  }

  75% {
    background: linear-gradient(180deg, #ffffff 75%, transparent 75%);
  }

  80% {
    background: linear-gradient(180deg, #ffffff 80%, transparent 80%);
  }

  85% {
    background: linear-gradient(180deg, #ffffff 85%, transparent 85%);
  }

  90% {
    background: linear-gradient(180deg, #ffffff 90%, transparent 90%);
  }

  95% {
    background: linear-gradient(180deg, #ffffff 95%, transparent 95%);
  }

  100% {
    background: linear-gradient(180deg, #ffffff 100%, transparent 100%);
  }
}

@keyframes rightToLeftX {
  0% {
    background: linear-gradient(0deg, #2dc203 0%, transparent 0%);
  }

  5% {
    background: linear-gradient(0deg, #2dc203 5%, transparent 5%);
  }

  10% {
    background: linear-gradient(0deg, #2dc203 10%, transparent 10%);
  }

  15% {
    background: linear-gradient(0deg, #2dc203 15%, transparent 15%);
  }

  20% {
    background: linear-gradient(0deg, #2dc203 20%, transparent 20%);
  }

  25% {
    background: linear-gradient(0deg, #2dc203 25%, transparent 25%);
  }

  30% {
    background: linear-gradient(0deg, #2dc203 30%, transparent 30%);
  }

  35% {
    background: linear-gradient(0deg, #2dc203 35%, transparent 35%);
  }

  40% {
    background: linear-gradient(0deg, #2dc203 40%, transparent 40%);
  }

  45% {
    background: linear-gradient(0deg, #2dc203 45%, transparent 45%);
  }

  50% {
    background: linear-gradient(0deg, #2dc203 50%, transparent 50%);
  }

  55% {
    background: linear-gradient(0deg, #2dc203 55%, transparent 55%);
  }

  60% {
    background: linear-gradient(0deg, #2dc203 60%, transparent 60%);
  }

  65% {
    background: linear-gradient(0deg, #2dc203 65%, transparent 65%);
  }

  70% {
    background: linear-gradient(0deg, #2dc203 70%, transparent 70%);
  }

  75% {
    background: linear-gradient(0deg, #2dc203 75%, transparent 75%);
  }

  80% {
    background: linear-gradient(0deg, #2dc203 80%, transparent 80%);
  }

  85% {
    background: linear-gradient(0deg, #2dc203 85%, transparent 85%);
  }

  90% {
    background: linear-gradient(0deg, #2dc203 90%, transparent 90%);
  }

  95% {
    background: linear-gradient(0deg, #2dc203 95%, transparent 95%);
  }

  100% {
    background: linear-gradient(0deg, #2dc203 100%, transparent 100%);
  }
}

@keyframes svgAnimation {
  0% {
    transform: scale(0);
    opacity: 1;
  }

  30% {
    transform: scale(0.7);
    opacity: 1;
  }

  50% {
    transform: scale(1);
    opacity: 0.5;
  }

  100% {
    transform: scale(1.2);
    opacity: 0;
  }
}

.home-container {
  position: relative;
  background-color: #f3f6f8 !important;
}

main {
  position: relative;
  width: calc(min(1440px, 90%));
  margin: 0 auto;
  min-height: 100vh;
  column-gap: 3rem;
  padding-block: min(20vh, 3rem);
}

.bg {
  position: fixed;
  top: 4rem;
  left: -12rem;
  z-index: 1;
  opacity: 0;
}

.bg2 {
  position: fixed;
  bottom: 0;
  right: 0;
  z-index: 1;
  width: 120px;
  opacity: 0.2 !important;
}

header {
  position: fixed;
  top: 0;
  left: 0;

  width: 100vw;
  height: 80px;

  padding: 0 36px;
  background: #1f242d;

  .header-container {
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
    height: 100%;

    display: flex;
    align-items: center;
    justify-content: space-between;

    .logo {
      font-size: 36px;
      color: #ffffff;
      font-weight: bold;

      span {
        display: inline-block;
        font-style: normal;
        color: #00eeff;
        font-size: 18px;

        &.stroke {
          font-size: 36px;
          transform: scale(1);
          color: transparent;
          -webkit-text-stroke: 1.6px #00eeff;

          &.rotate {
            transform: rotate(180deg) translateY(-16px);
          }
        }
      }
    }

    .header-sidebar {
      display: flex;
      align-items: center;

      .sidebar-item {
        font-size: 16px;
        font-weight: 600;
        color: #ffffff;
        transition: 0.3s;

        &:hover {
          cursor: pointer;
          color: #00eeff;
        }
      }
    }

    .btnWallet {
      height: 40px;
      padding: 0 24px;
      background: #f0f0f0;
      border-radius: 12px;

      font-weight: 700;
      font-size: 16px;
      color: #000000;

      border: none;
      outline: none;
    }
  }
}

.content {
  flex: 1;
  overflow: hidden;

  position: relative;
  z-index: 2;

  .intro {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    transform: translateX(0);
    transition: transform 0.5s ease-in-out;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;

    &.hide-intro {
      transform: translateX(100%);
    }
  }

  .form-errors {
    color: #f81f01;
    margin-top: -5px;
    text-align: left;
  }

  .form {
    transform: translateX(0);
    padding-bottom: 50px;
    padding-top: 50px;
    transition: transform 0.5s ease-in-out;

    .svg-checkbox {
      margin-bottom: 16px;

      label {
        flex-shrink: 0;
        transition: all 300ms ease-in;
        display: flex;
        align-items: center;
        cursor: pointer;
        width: 100%;
        padding: 0 10px;
        border-radius: 8px;
        border: 1px solid transparent;
        margin-bottom: 0;
        font-weight: 500;
        font-size: 1.5em;
        user-select: none;
      }

      label.selected {
        color: #2dc203;

        .checkbox-ghost-2 {
          border-color: #2dc203;
        }
      }

      input[type='radio'],
      input[type='checkbox'] {
        position: absolute;
        opacity: 0;
      }

      .checkbox-ghost-2 {
        position: relative;
        display: block;
        width: 30px;
        height: 30px;
        border-radius: 20px;
        border: 3px solid #c2c2c2;
        margin-right: 10px;
        transition: all 250ms ease-in;
      }

      label.selected .checkbox-ghost-2 {
        animation: rightToLeftX 100ms linear forwards;
      }

      label.selected .checkbox-ghost-2::before {
        animation: leftToRightXWhite 100ms linear forwards;
        animation-delay: 150ms;
        transform: rotate(-45deg);
        display: block;
        content: '';
        position: absolute;
        top: 8px;
        left: -1px;
        width: 5px;
        border-radius: 4px;
        height: 15px;
        margin-left: 6px;
      }

      label.selected .checkbox-ghost-2::after {
        animation: rightToLeftXWhite 100ms linear forwards;
        animation-delay: 250ms;
        transform: rotate(40deg);
        display: block;
        content: '';
        position: absolute;
        top: -5px;
        left: 11px;
        width: 5px;
        border-radius: 4px;
        height: 30px;
        margin-left: 6px;
      }

      label.selected .checkbox-ghost-2 + svg {
        animation: svgAnimation 350ms cubic-bezier(0.39, 0.575, 0.565, 1);
        animation-delay: 300ms;
      }

      .checkbox-ghost-2 + svg {
        opacity: 0;
        position: absolute;
        margin-left: -30px;
      }

      .checkbox-ghost-2 + svg circle {
        fill: #2dc203;
      }
    }

    .input-field {
      margin-bottom: 16px;
      background-color: #f0f0f0;
      display: flex;
      align-items: center;
      padding: 0 24px;
      height: 54px;
      border-radius: 30px;
      overflow: hidden;
      transition: 200ms linear all;

      &:focus-within {
        background: #dff9fb;
      }

      textarea {
        resize: none;
      }

      input,
      textarea {
        height: 100%;
        flex: 1;
        background-color: transparent;
        border: none;
        z-index: 5;
        font-size: 16px;
        color: #000000;
        outline: none;

        &::placeholder {
          font-size: 18px;
          text-transform: uppercase;
          font-weight: 500;
          color: #828282;
        }
      }

      &.textarea-field {
        padding: 16px 24px;
        height: unset;
      }

      &.field-contract {
        margin-bottom: 0;

        height: 0;
        overflow: hidden;

        &.field-active {
          height: 54px;
          margin-bottom: 16px;
        }
      }
    }

    &.hide-form {
      transform: translateX(-100%);
    }
  }
}

.intro span {
  text-transform: uppercase;
  letter-spacing: 1.5px;
  font-size: 16px;
  color: #000000;
}

.intro h1 {
  text-transform: capitalize;
  letter-spacing: 0.8px;
  font-family: 'Roboto', sans-serif;
  font-weight: 900;
  font-size: clamp(3.4375rem, 3.25rem + 0.75vw, 4rem);
  background-color: #005baa;
  background-image: linear-gradient(45deg, #005baa, #000000);
  background-size: 100%;
  background-repeat: repeat;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
  text-align: left;
}

.intro hr {
  display: block;
  background: #005baa;
  height: 0.25rem;
  width: 6.25rem;
  border: none;
  margin: 1.125rem 0 1.875rem 0;
}

.intro p {
  line-height: 1.6;
  text-align: left;
}

main button {
  display: inline-block;
  text-decoration: none;
  text-transform: uppercase;
  color: #717171;
  font-weight: 500;
  background: #fff;
  border-radius: 3.125rem;
  transition: 0.3s ease-in-out;
}

.intro > button,
form > button {
  border: 2px solid #c2c2c2;
  padding: 0.625rem 1.875rem;
}

.intro > button:hover,
form > button:hover {
  border-color: #dff9fb;
  color: #00eeff;
}

.swiper {
  flex: 0 0 70%;
  padding-bottom: 3.125rem;
}

.swiper-pagination-bullet,
.swiper-pagination-bullet-active {
  background: #000;
}

.swiper-pagination {
  bottom: 0 !important;
}

.swiper-slide {
  width: 18.75rem;
  height: 42rem;
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: self-start;

  .layout-item {
    // border-radius: 8px;
    border: 4px solid transparent;
    transition: border 0.3s ease-in-out;

    width: 100%;
    height: 100%;

    position: relative;

    .background {
      width: 100%;
      height: 100%;
      object-fit: cover;
      // border-radius: 8px;
      object-position: center;
    }

    &::after {
      content: '';
      inset: 0;
      position: absolute;
      background: linear-gradient(
        180deg,
        rgba(0, 0, 0, 0) 32.99%,
        rgba(0, 0, 0, 0.79) 100%
      );
      z-index: 10;
    }

    .content {
      display: none;
      opacity: 0;
      padding-bottom: 0.625rem;

      position: absolute;
      width: 100%;
      bottom: 0;
      left: 0;
      z-index: 12;
    }
  }

  &.swiper-slide-active {
    .layout-item {
      border-color: #00eeff;

      .content {
        display: block;
        opacity: 1;
      }
    }
  }
}

.swiper-slide h2 {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 1.4;
  margin-bottom: 0.625rem;
  padding: 0 0 0 1.563rem;
  text-transform: uppercase;
  color: #00eeff;
}

.swiper-slide p {
  color: #fff;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  padding: 0 1.563rem;
  line-height: 1.6;
  font-size: 16px;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow: hidden;
  min-height: 16px;
}

.swiper-slide a {
  margin: 1.25rem 1.563rem 3.438rem 1.563rem;
  padding: 0.438em 1.875rem;
  font-size: 0.9rem;
}

.swiper-slide a:hover {
  color: #00eeff;
}

.swiper-3d .swiper-slide-shadow-left,
.swiper-3d .swiper-slide-shadow-right {
  background-image: none;
}

@media screen and (min-width: 48rem) {
  main {
    display: flex !important;
    align-items: center;
  }
  .bg,
  .bg2 {
    opacity: 0.1;
  }
}

.containerLoading {
  opacity: 0.5;
  width: 100%;
  position: absolute;
  height: 100%;
  z-index: 120;
  background: #1f242d;
}

.loadingHome {
  width: 100px;
  position: absolute;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
}

.modal-alert {
  position: fixed;
  inset: 0;
  display: flex;
  align-items: center;
  justify-content: center;

  z-index: 100;

  transform: translateY(-100%);

  &::after {
    content: '';
    position: fixed;
    inset: 0;
    background-color: rgba(#000000, 0.5);
    z-index: -1;
  }

  .contentWrapper {
    position: relative;
    transition: 0.3s;
    transform: translateY(-100%);

    // display: flex;
    // align-items: center;
    // justify-content: center;

    .alert-message {
      width: 400px;
      height: 160px;

      display: flex;
      flex-direction: column;

      align-items: center;
      justify-content: center;

      border-radius: 8px;
      background: #ffffff;
      box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.15);

      p {
        font-size: 24px;
        font-weight: 400;
      }

      button {
        margin-top: 16px;
        display: inline-block;
        text-decoration: none;
        text-transform: uppercase;
        color: #717171;
        font-weight: 500;
        background: #fff;
        border-radius: 3.125rem;
        transition: 0.3s ease-in-out;
        border: 2px solid #c2c2c2;
        padding: 0.625rem 1.875rem;
      }

      button:hover {
        border-color: #dff9fb;
        color: #00eeff;
      }
    }
  }

  &.open {
    transform: translateY(0);

    .contentWrapper {
      transform: translateY(0);
    }
  }
}

.swal2-popup.swal2-modal {
  border-radius: 8px;

  font-size: 16px;

  .swal2-html-container {
    font-size: 24px;

    span {
      color: #00eeff;
    }
  }

  .swal2-confirm {
    border: none;
    outline: none;
    color: #ffffff;
    font-size: 16px;
    font-weight: bold;
    font-weight: bold;
    padding: 8px 24px;
    background: #00eeff;
    display: inline-block;
    text-decoration: none;
    border-radius: 8px;
    text-transform: uppercase;
    transition: 0.3s ease-in-out;
  }
}
